.Footer {
  display: block;
  font-size: 0.8rem;
  margin: 0.2rem auto;
}

.Footer .footer__text {
  color: #666666;
}

.Footer .footer__link,
.Footer .footer__link:visited {
  text-decoration: underline;
  color: #666666;
}
