.WeatherInfo .weather-info__city-name {
  margin: 0.75rem 1rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.WeatherInfo .weather-info__date {
  font-weight: 500;
  font-size: 1.5rem;
}

.WeatherInfo .weather-info__description {
  margin: 1.5rem 1rem;
}
.WeatherInfo .weather-info__description:first-letter {
  text-transform: uppercase;
}

.WeatherInfo .weather-info__humidity-wind {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
