.WeatherTemperature .weather-info__temperature {
  font-size: 3.75rem;
  margin: 1rem 1rem;
}

.WeatherInfo .weather-info__temperature-units {
  vertical-align: super;
  font-size: 1.3rem;
}
.WeatherInfo .weather-info__temperature-units--celsius,
.WeatherInfo .weather-info__temperature-units--fahrenheint {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
