.WeatherInfo .weather-info__city-name {
  margin: 0.75rem 1rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.WeatherInfo .weather-info__date {
  font-weight: 500;
  font-size: 1.5rem;
}

.WeatherInfo .weather-info__temperature {
  font-size: 3.75rem;
  margin: 1rem 1rem;
}

.WeatherInfo .weather-info__temperature-units {
  vertical-align: super;
  font-size: 1.3rem;
}
.WeatherInfo .weather-info__temperature-units--celsius,
.WeatherInfo .weather-info__temperature-units--fahrenheint {
  color: #fff;
  text-decoration: none;
}

.WeatherInfo .weather-info__description {
  margin: 1.5rem 1rem;
}
.WeatherInfo .weather-info__description:first-letter {
  text-transform: uppercase;
}

.WeatherInfo .weather-info__humidity-wind {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
